@import "./colors.scss";
@import "./styles.scss";

.aboutContent {
  display: flex;
  align-items: center;
  .photo {
    margin: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    .GideonSeniorPhoto {
      height: 30em;
      width: auto;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    p {
      align-items: center;
      font-size: 18px;
      svg {
        margin: 0.5em;
        font-size: 24px;
        color: $gold;
        transition: ease-in-out 0.5s;
      }
      &:hover {
        svg {
          color: $teal;
          transition: ease-in-out 0.5s;
        }
      }
      a {
        color: $gold;
        text-decoration: none;
      }
      &:hover {
        color: teal;
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  .aboutContent {
    flex-direction: column;
  }
}
