@import "colors";

.Feature {
  $imgSize: 15em;
  height: $imgSize - 1em;
  width: $imgSize - 1em;
  position: relative;
  margin: 1.5em;
  justify-content: center;
  align-content: center;
  align-items: center;
  img.img {
    display: block;
    height: $imgSize;
    width: $imgSize;
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $imgSize;
    width: $imgSize;
    opacity: 0;
    transition: 0.4s ease;
    background-image: linear-gradient(to bottom right, $teal, $teal, $blue);
    border-radius: 0.5em;
    .text {
      padding: 1em;
      background-color: $off-white;
      position: absolute;
      width: $imgSize - 1em;
      height: $imgSize - 1em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      border-radius: 0.5em;
      a {
        text-decoration: none;
      }
      h2,
      svg {
        font-size: 24px;
        color: $gold;
        transition: ease-in-out 0.5s;
        &:hover {
          transition: ease-in-out 0.5s;
          color: $blue;
        }
      }
      p {
        font-size: 18px;
        color: $dark-silver;
      }
    }
  }
}

.Feature:hover .overlay {
  opacity: 1;
}
