@import "colors";

.Feature {
  $imgSize: 15em;
  height: $imgSize - 1em;
  width: $imgSize - 1em;
  position: relative;
  margin: 1.5em;
  justify-content: center;
  align-content: center;
  align-items: center;
  img {
    display: block;
    height: $imgSize;
    width: $imgSize;
  }
  .overlay {
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $imgSize;
    width: $imgSize;
    opacity: 0;
    transition: 0.4s ease;
    background-image: linear-gradient(
      to bottom right,
      $neonGreen,
      $teal,
      $blue
    );
    .text {
      padding: 1em;
      color: $silver;
      background-color: $offWhite;
      position: absolute;
      width: $imgSize - 1em;
      height: $imgSize - 1em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.Feature:hover .overlay {
  opacity: 1;
}
