@import "./colors.scss";
@import "./styles.scss";
@import "./navbars.scss";

#footer {
  display: flex;
  flex-direction: row;
  button {
    margin: 3em;
    outline: none;
    background-color: transparent;
    border: none;
    color: $gold;
    font-size: 20px;
    transition: ease-in-out 0.5s;
    margin: 1em;
    font-weight: bold;
    border-top: 1px solid transparent;
    &:hover {
      color: $teal;
      transition: ease-in-out 0.5s;
      border-top: 1px solid $gold;
    }
  }
}

@media (max-width: 600px) {
  #footer {
    display: none;
  }
}
