@import "./colors.scss";
@import "./styles.scss";
@import "./navbars.scss";

#header {
  display: flex;
  .brand-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .toggle-button {
      display: none;
      font-size: 30px;
      outline: none;
      background-color: transparent;
      border: none;
      color: $gold;
      font-size: 48px;
      transition: ease-in-out 0.5s;
      padding: 0.5em;
      &:hover {
        color: $teal;
        transition: ease-in-out 0.5s;
      }
    }
  }
  .Links {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1em;
      li {
        list-style: none;
        margin: 0.75em;
        padding: 0.25em;
        a {
          text-decoration: none;
          color: $gold;
          font-size: 20px;
          font-weight: bold;
          transition: ease-in-out 0.5s;
          padding: 0.25em;
          border-top: 1px solid transparent;
          &:hover {
            color: $teal;
            transition: ease-in-out 0.5s;
            border-top: 1px solid $gold;
          }
        }
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  #header {
    flex-direction: column;
    align-items: flex-start;
    .brand-toggle {
      .toggle-button {
        display: flex;
        margin: 1em;
      }
    }

    .Links {
      display: none;
      width: 100%;
      ul {
        width: 100%;
        flex-direction: column;
        li {
          text-align: center;
          a {
            padding: 0.5em 1em;
          }
        }
      }
      &.active {
        display: flex;
      }
    }
  }
}
