@import "colors";

.MainContent {
  padding: 1em;
  .intro {
    p {
      a {
        color: $teal;
        transition: ease-in-out 0.5s;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        &:hover {
          transition: ease-in-out 0.5s;
          color: $gold;
          border-bottom: 1px solid $gold;
        }
      }
    }
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .Projects {
    ul {
      li {
        list-style-type: disc;
        a {
          color: $teal;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          transition: ease-in-out 0.5s;
          margin-right: 1em;
          svg {
            padding: none;
          }
          &:hover {
            transition: ease-in-out 0.5s;
            color: $gold;
            border-bottom: 1px solid $gold;
          }
        }
        .disabled {
          pointer-events: none;
          color: $dark-silver;
        }
      }
    }
  }
}
