@import "colors";

.MainContent {
  padding: 1em;
  .intro {
    p {
      a {
        color: $teal;
      }
    }
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .Projects {
    ul {
      li {
        list-style-type: disc;
        a {
          color: $teal;
          svg {
            margin-left: 1em;
          }
        }
        .disabled {
          pointer-events: none;
          color: $dark-silver;
        }
      }
    }
  }
}
