@import "colors";

.MainContent {
  padding: 1em;
  .intro {
    p {
      a {
        color: $blue;
        transition: ease-in-out 0.5s;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        &:hover {
          transition: ease-in-out 0.5s;
          color: $gold;
          border-bottom: 1px solid $gold;
        }
      }
    }
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .Feature {
      img {
        border: solid 1px $blue;
        border-radius: 0.5em;
      }
      .overlay {
        border: solid 1px $teal;
        border-radius: 0.5em;
      }
    }
  }

  .resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 1em 0em;
    a {
      padding: 0;
      margin: 0;
      margin-left: 2em;
      button {
        border-radius: 0.5em;
        color: $off-white;
        background-color: $blue;
        border: none;
        padding: 0.5em 0.75em;
        margin: 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        transition: 0.5s ease-in-out;
      }
      &:hover {
        button {
          background-color: $gold;
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}
