.container {
  display: flex;
  flex-direction: column;
  background-image: url("https://ak3.picdn.net/shutterstock/videos/12239372/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  .routerOutlet {
    padding: 1em;
    margin: 1em;
  }
}

$navHeight: 5em;
$mobileWidth: 600px;
